{# templates/dashboard/trade/_trade_table.html.twig #}

{% block content %}
    <h2>Trades</h2>

    {% include 'components/flash_messages.html.twig' with {
        'error': 'close_trade_error',
        'success': 'close_trade_success'
    } %}

    <table id="tradesTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Opened By</th>
                <th>Position</th>
                <th>Entry</th>
                <th>Close</th>
                <th>Status</th>
                <th>PNL</th>
                {% if role != 'USER' %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td>{{ trade.id }}</td>
                    <td>{{ trade.user.username }}</td>
                    <td>{{ trade.agentId.username }}</td>
                    <td>{{ trade.position }}</td>
                    <td>{{ trade.entryRate }}</td>
                    <td>{{ trade.closeRate ?: '---' }}</td>
                    <td>{{ trade.status }}</td>
                    <td id="pnl-{{ trade.id }}" >
                        {% if trade.status == 'open' %}
                            0.00
                        {% else %}
                            {{ trade.pnl }}
                        {% endif %}
                    </td>
                    {% if role != 'USER' %}
                        <td>
                            {% if trade.status == 'open' %}
                                <form method="POST" action="{{ path('role_close_trade', {'tradeId': trade.id}) }}">
                                    <button type="submit">Close</button>
                                </form>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
