{# templates/dashboard/trade/_trade_table.html.twig #}

{% block content %}
    <h2>Trades</h2>

    

    <table id="tradesTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Opened By</th>
                <th>Position</th>
                <th>Entry</th>
                <th>Close</th>
                <th>Status</th>
                <th>PNL</th>
                {% if role != 'USER' or isView %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr id="trade-{{ trade.id }}">
                    <td>{{ trade.id }}</td>
                    <td>
                        <a href="{{ path('dashboard_user', { userId: trade.user.id }) }}">
                            {{ trade.user.username }}
                        </a>
                    </td>
                    <td>{{ trade.agentId.username }}</td>
                    <td>{{ trade.position }}</td>
                    <td>{{ trade.entryRate }}</td>
                    <td id="closeRate-{{ trade.id }}">{{ trade.closeRate ?: '---' }}</td>
                    <td id="status-{{ trade.id }}">{{ trade.status }}</td>
                    <td id="pnl-{{ trade.id }}" >
                        {% if trade.status == 'open' %}
                            0.00
                        {% else %}
                            {{ trade.pnl }}
                        {% endif %}
                    </td>
                    {% if role != 'USER' or isView %}
                        <td>
                            {% if trade.status == 'open' %}
                                <button class="closeTradeBtn" data-trade-id="{{ trade.id }}">Close</button>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

<script src="{{ asset('js/toast.js') }}"></script>
