{# templates/dashboard/admin/admin.html.twig #}

{% extends 'base.html.twig' %}
{% block content %}

    <h1>Welcome, {{ user.username }}</h1>
    <h3>This is Admin dashboard, and using: {{ controller_name }}</h3>

    <p><strong>My ID:</strong> {{ user.id }}</p>
    <p><strong>Last Login:</strong> {{ user.loginTime ? user.loginTime|date('Y-m-d H:i:s') : 'Never' }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <p><strong>Currency:</strong> {{ user.currency }}</p>
    <p><strong>Total PNL:</strong> {{ user.totalPnl }}</p>
    <p><strong>Equity:</strong> {{ user.equity }}</p>


    {% include 'dashboard/tables/manage_users.html.twig' with {'users': users, 'agents': agents, 'route': 'admin'} %}
    {% include 'dashboard/tables/manage_agents.html.twig' with {'agents': agents, 'route': 'admin'} %}
    {% include 'dashboard/trade/_trade_table.html.twig' with {'trades': trades} %}
    {# {% include 'dashboard/trade/_trade_form.html.twig' with {'users': users} %} #}
    {% include 'dashboard/tables/_assets_view.html.twig' %}

{% endblock %}